.classpath
.eclipse/
.project
.revision/
.settings/
build/
src/c/generated/
src/java/generated/
src/java/lib/ant-eclipse-*
src/java/lib/ivy-*

#Yahoo Specific Parts
BASE_VERSION
VERSION
src/java/lib/jdiff/zookeeper_*.xml
test_results

*.la
*.o
*.lo
src/c/load_gen
src/c/aclocal.m4
src/c/config.h
