.classpath
.eclipse/
.project
.revision/
.settings/
build/
src/c/generated/
src/java/generated/
src/java/lib/ant-eclipse-*
src/java/lib/ivy-*

#Yahoo Specific Parts
BASE_VERSION
VERSION
src/java/lib/jdiff/zookeeper_*.xml
test_results
